<div class="row">
  <div class="col-sm-6 blue">
    <h2>{{l.aboutView.about}}</h2>
    <p>{{l.aboutView.desc}}</p>
    <ul class="list-about">
      <li><a alt="37coins Twitter" href="https://twitter.com/37Coins"><img class="icon-contact" src="{{resPath}}/images/x_icon_twitter_white.png"></a>@37coins</li>
      <li><a alt="37coins Facebook" href="https://www.facebook.com/37Coins"><img class="icon-contact" src="{{resPath}}/images/x_icon_facebook_white.png"></a>Facebook</li>
      <li><a alt="37coins phone number"><img class="icon-contact"src="{{resPath}}/images/x_icon_phone_white.png"></a>+49 (0)711 50888362</li>
      <li><a alt="37coins email"><img class="icon-contact" src="{{resPath}}/images/x_icon_email_white.png"></a>hello[at]37coins.com</li>
    </ul>
    <div class="hidden-xs" style="height:200px"></div>
  </div>
  <div class="col-sm-6">
    <h2>{{l.aboutView.team}}</h2>
    <div class="media">
	  <img class="pull-left media-object" src="{{resPath}}/images/head_songyi.jpg" alt="Songe Lee">
	  <div class="media-body">
	    <h4 class="media-heading"><b>Songyi</b> Lee</h4>
	    <p>{{l.aboutView.role1}}</p>
		<a alt="Songe Twitter" href="https://twitter.com/iamsonge">
			<img src="{{resPath}}/images/x_icon_twitter_brown.png">
		</a>
		<a alt="Songe Linkedin" href="https://www.linkedin.com/pub/song-yi-lee/27/94b/a0">
			<img src="{{resPath}}/images/x_icon_linkedin_brown.png">
		</a>
		<p>songe[at]37coins.com</p>
	  </div>
	</div>

	<div class="media">
	    <img class="pull-left media-object" src="{{resPath}}/images/head_jinyoung.jpg" alt="Jinyoung Park">
	 	<div class="media-body">
		    <h4 class="media-heading"><b>Jinyoung</b> Park</h4>
		    <p>{{l.aboutView.role2}}</p>
			<a alt="Jinyoung Twitter" href="http://www.twitter.com/jypark04070">
				<img src="{{resPath}}/images/x_icon_twitter_brown.png"></a>
			<a alt="Jonathan LinkedIn" href="http://www.linkedin.com/in/jypark04070">
				<img src="{{resPath}}/images/x_icon_linkedin_brown.png"></a>
			<p>jinyoung[at]37coins.com</p>
	  	</div>
	</div>
	
    <div class="media">
	  <img class="pull-left media-object" src="{{resPath}}/images/head_johann.jpg" alt="Johann Barbie">
	  <div class="media-body">
	    <h4 class="media-heading"><b>Johann</b> Barbie</h4>
	    <p>{{l.aboutView.role3}}</p>
		<a alt="Johann Twitter" href="https://twitter.com/JohBa">
			<img src="{{resPath}}/images/x_icon_twitter_brown.png">
		</a>
		<a alt="Johann Linkedin" href="https://www.linkedin.com/in/johannbarbie">
			<img src="{{resPath}}/images/x_icon_linkedin_brown.png">
		</a>
		<p>johann[at]37coins.com</p>
	  </div>
	</div>

	 <div class="media">
	    <img class="pull-left media-object" src="{{resPath}}/images/head_jonathan.jpg" alt="Jonathan Zobro">
	 	<div class="media-body">
		    <h4 class="media-heading"><b>Jonathan</b> Zobro</h4>
		    <p>{{l.aboutView.role4}}</p>
			<a alt="Jonathan Twitter" href="https://twitter.com/jonathan_zobro">
				<img src="{{resPath}}/images/x_icon_twitter_brown.png"></a>
			<a alt="Jonathan LinkedIn" href="https://www.linkedin.com/in/jonathanzobro">
				<img src="{{resPath}}/images/x_icon_linkedin_brown.png"></a>
			<p>jonathan[at]37coins.com</p>
	  	</div>
	</div>


  </div>
</div>
