<div class="row">
  <div class="col-sm-6 blue">
    <h2>About 37coins</h2>
    <p>We are commited to making bitcoin easy, secure to use, and accessible to everyone. With a global focus on social equity, we develop down-teched, secure, scalable solutions that are as appropriate for emerging economies as they are for developed ones.</p>
    <ul>
      <li><img src="{{resPath}}/images/x_icon_twitter_white.png">@37coins</li>
      <li><img src="{{resPath}}/images/x_icon_facebook_white.png">Facebook</li>
      <li><img src="{{resPath}}/images/x_icon_facebook_white.png">+49 (0)711 50888362</li>
      <li><img src="{{resPath}}/images/x_icon_email_white.png">hello[at]37coins.com</li>
    </ul>
    <div class="hidden-xs" style="height:200px"></div>
  </div>
  <div class="col-sm-6">
    <h2>Team</h2>
    <div class="media">
	  <a class="pull-left" href="#">
	    <img class="media-object" src="{{resPath}}/images/head_songyi.jpg" alt="...">
	  </a>
	  <div class="media-body">
	    <h4 class="media-heading"><b>Songyi</b> Lee</h4>
	    <p>Social Entrepreneur</p>
		<img src="{{resPath}}/images/x_icon_twitter_brown.png"><img src="{{resPath}}/images/x_icon_linkedin_brown.png">
		<p>songe[at]37coins.com</p>
	  </div>
	</div>
	<div class="media">
	  <a class="pull-left" href="#">
	    <img class="media-object" src="{{resPath}}/images/head_jonathan.jpg" alt="...">
	  </a>
	  <div class="media-body">
	    <h4 class="media-heading"><b>Jonathan</b> Zobro</h4>
	    <p>Designer</p>
		<img src="{{resPath}}/images/x_icon_twitter_brown.png"><img src="{{resPath}}/images/x_icon_linkedin_brown.png">
		<p>jonathan[at]37coins.com</p>
	  </div>
	</div>
    <div class="media">
	  <a class="pull-left" href="#">
	    <img class="media-object" src="{{resPath}}/images/head_johann.jpg" alt="...">
	  </a>
	  <div class="media-body">
	    <h4 class="media-heading"><b>Johann</b> Barbie</h4>
	    <p>Developer</p>
		<img src="{{resPath}}/images/x_icon_twitter_brown.png"><img src="{{resPath}}/images/x_icon_linkedin_brown.png">
		<p>johann[at]37coins.com</p>
	  </div>
	</div>

  </div>
</div>