<h2>{{w.balanceV.balH2}}</h2>
{{w.balanceV.bal}} <img style="vertical-align: text-top;" class="spin" src="{{resPath}}/images/loop.gif"/></span>.
<form>
    <div class="form-group">
	    <label for="amountInput">{{w.balanceV.amountLbl}}</label>
	    <input type="number" name="amount" step="1" min="0" class="form-control" id="amountInput" placeholder="{{w.balanceV.amountPh}}">
	</div>
	<div class="form-group">
	    <label for="addressInput">{{w.balanceV.addressLbl}}</label>
	    <input type="text" name="address" class="form-control" id="addressInput" placeholder="{{w.balanceV.addressPh}}">
	</div>
    <button class="btn btn-inverse" type="submit">{{w.balanceV.withdrawalBtn}}</button>
</form>
<div id="errorAlert" class="alert alert-danger alert-dismissable fade">
  <button type="button" class="close" aria-hidden="true">&times;</button>
  <strong>{{w.basic.err}}</strong>&nbsp;{{{link w.basic.support href="/contact"}}}
</div>
<div id="successAlert" class="alert alert-success alert-dismissable fade">
  <button type="button" class="close" aria-hidden="true">&times;</button>
  <strong>{{w.basic.succ}}</strong>&nbsp;{{w.balanceV.succ}}
</div>