<!--TO DO: Use indexing instead of the stupid "1" at the end.-->
<table class="table table-striped">
  <thead>
    <tr>
      <th>{{s.commands.smlHlp.column1}}</th>
      <th>{{s.commands.smlHlp.column2}}</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>{{up s.commands.DepositReqCmd1}}</td><td>{{s.commands.smlHlp.DepositReqCmd}}</td></tr>
    <tr><td>{{up s.commands.VoiceCmd1}}</td><td>{{s.commands.smlHlp.VoiceCmd}}</td></tr>
    <tr><td>{{up s.commands.BalanceCmd1}}</td><td>{{s.commands.smlHlp.BalanceCmd}}</td></tr>
    <tr><td>{{up s.commands.WithdrawalReqCmd1}}</td><td>{{s.commands.smlHlp.WithdrawalReqCmd}}</td></tr>
    <tr><td>{{up s.commands.TransactionsCmd1}}</td><td>{{s.commands.smlHlp.TransactionsCmd}}</td></tr>
    <tr><td>{{up s.commands.HelpCmd1}}</td><td>{{s.commands.smlHlp.HelpCmd}}</td></tr>
  </tbody>
</table>