<!--Refer to the "cmdHelpL" section of "webui/app/scripts/nls/root/labels.js" for labels referred to by the items in double-curly braces-->

<!--Command Help-->
<div class="row">
  <div class="col-sm-12 wbox">
  <h1>{{w.brand.SMSWallet}} {{w.cmdHelpL.h1}}</h1>
  <h2>{{w.cmdHelpL.refH2}}</h2>
    <div id="smsCommands" class="col-sm-12"></div>
  </div>
</div>

<div class="row">
 <h2>{{w.brands.SMSWallet}} {{w.cmdHelpL.cmdH2}}</h2>
 <p>{{w.cmdHelpL.cmd}}</p>
  <div class="panel-group" id="accordion">
    <!--address--> 
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
         <a data-toggle="collapse" data-parent="#accordion" href="#help-ADDRESS">
           {{w.cmdHelpL.addr.h4}}
          </a>
        </h4>
      </div>
      <div id="help-ADDRESS" class="panel-collapse collapse in">
        <div class="panel-body">
          <p>{{w.cmdHelpL.addr.p1}}</p>
          <p>{{{w.cmdHelpL.addr.p2}}}</p>
          <div class="alert alert-warning">{{w.cmdHelpL.w}}{{#each s.commands.DepositReqCmd}}{{#if @index}}, {{/if}}{{this}}{{/each}}</div>
        </div>
      </div>
    </div>
    <!--balance-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#help-BALANCE">
            {{up s.commands.BalanceCmd.[1]}}
          </a>
        </h4>
      </div>
      <div id="help-BALANCE" class="panel-collapse collapse in">
        <div class="panel-body">
          <p>{{w.cmdHelpL.bal.p1}}</p>
          <p>{{w.cmdHelpL.bal.p2}}</p>
          <table class="table table-striped">
            <thead>
              <tr>
                <td>{{w.cmdHelpL.bal.column1}}</td><td>{{w.cmdHelpL.bal.column2}}</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{{w.cmdHelpL.bal.systemResponse1}}}</td><td>{{w.cmdHelpL.bal.implication1}}</td>
              </tr>
            </tbody>
          </table>
          <label>{{w.cmdHelpL.bal.label1}}</label>
          <div class="alert alert-warning">{{w.cmdHelpL.w}}{{#each s.commands.BalanceCmd}}{{#if @index}}, {{/if}}{{this}}{{/each}}</div>
        </div>
      </div>
    </div>
    <!--send-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#help-SEND">
            {{w.cmdHelpL.send.anchor}}
          </a>
        </h4>
      </div>
      <div id="help-SEND" class="panel-collapse collapse in">
        <div class="panel-body">
          <p>{{w.cmdHelpL.send.p1}}</p>
          <p>{{w.cmdHelpL.send.p2}}</p>
          <p>{{{w.cmdHelpL.send.p3}}}</p>

          <h5>{{w.cmdHelpL.send.syntax}}</h5>
            <table class="table table-striped">
              <thead>
                <caption>{{w.cmdHelpL.send.caption}}</caption>
              </thead>
              <tbody>
                 <tr>
                  <td>{{w.cmdHelpL.send.amount.td1}}</td><td>{{{w.cmdHelpL.send.amount.td2}}}</td>
                </tr>
                 <tr>
                  <td>{{w.cmdHelpL.send.address.td1}}</td><td>{{w.cmdHelpL.send.address.td2}}</td>
                </tr>
                <tr>
                  <td>{{w.cmdHelpL.send.comment.td1}}</td><td>{{w.cmdHelpL.send.comment.td2}}</td>
                </tr>
              </tbody>
            </table> 

          <h5>{{w.cmdHelpL.send.example.header}}</h5>
          <table class="table table-striped">
            <thead>
              <caption>{{w.cmdHelpL.send.example.ex1.caption}}</caption>
              <tr>
               <td>{{w.cmdHelpL.send.example.column1}}</td><td>{{w.cmdHelpL.send.example.column2}}</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{w.cmdHelpL.send.example.ex1.td1}}</td><td>{{w.cmdHelpL.send.example.ex1.td2}}</td>
              </tr>
            </tbody>
          </table>
          <table class="table table-striped">
            <thead>
              <caption>{{w.cmdHelpL.send.example.ex2.caption}}</caption>
              <tr>
                  <td>{{w.cmdHelpL.send.example.column1}}</td><td>{{w.cmdHelpL.send.example.column2}}</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{w.cmdHelpL.send.example.ex2.td1}}</td><td>{{w.cmdHelpL.send.example.ex2.td2}}</td>
              </tr>
            </tbody>
          </table>
          <table class="table table-striped">
            <thead>
              <caption>{{w.cmdHelpL.send.example.ex3.caption}}</caption>
              <tr>
                <td>{{w.cmdHelpL.send.example.column1}}</td><td>{{w.cmdHelpL.send.example.column2}}</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{w.cmdHelpL.send.example.ex3.td1}}</td><td>{{w.cmdHelpL.send.example.ex3.td2}}</td>
              </tr>
            </tbody>
          </table>
          <table class="table table-striped">
            <thead>
              <caption>{{w.cmdHelpL.send.example.ex4.caption}}</caption>
              <tr>
                <td>{{w.cmdHelpL.send.example.column1}}</td><td>{{w.cmdHelpL.send.example.column2}}</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{w.cmdHelpL.send.example.ex4.td1}}</td><td>{{w.cmdHelpL.send.example.ex4.td2}}</td>
              </tr>
            </tbody>
          </table>
          <div class="alert alert-warning">{{w.cmdHelpL.w}}{{#each s.commands.WithdrawalReqCmd}}{{#if @index}}, {{/if}}{{this}}{{/each}}
          </div>        
        </div>
      </div>
    </div>
    <!--transaction-->
    <!--TODO: Add examples. See examples above. To allow for pre-emptive localization, there is already a section for this command in labels.js.-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#help-TRANSACTION">
              {{w.cmdHelpL.transaction.anchor}}
          </a>
        </h4>
      </div>
      <div id="help-TRANSACTION" class="panel-collapse collapse in">
        <div class="panel-body">
          <p>{{w.cmdHelpL.transaction.p1}}</p>
          <div class="alert alert-warning">{{w.cmdHelpL.w}}{{#each s.commands.TransactionsCmd}}{{#if @index}}, {{/if}}{{this}}{{/each}}</div>
        </div>
      </div>
    </div>
    <!--pin-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#help-PIN">
              {{w.cmdHelpL.pin.anchor}}
          </a>
        </h4>
      </div>
      <div id="help-PIN" class="panel-collapse collapse in">
        <div class="panel-body">
          <p>{{w.cmdHelpL.pin.p1}}</p>
          <p>{{w.cmdHelpL.pin.p2}}</p>
          <p>{{{w.cmdHelpL.pin.p3}}}</p>
          <p>{{w.cmdHelpL.pin.p4}}</p>
          <div class="alert alert-warning">{{w.cmdHelpL.w}}{{#each s.commands.VoiceCmd}}{{#if @index}}, {{/if}}{{this}}{{/each}}</div>
        </div>
      </div>
    </div>
    <!--Commented out until fixed price   
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#help-PRICE">
            {{w.cmdHelpL.price.anchor}}
          </a>
        </h4>
      </div>
      <div id="help-PRICE" class="panel-collapse collapse in">
        <div class="panel-body">
          <p>{{{w.cmdHelpL.price.p1}}}</p>
          <div class="alert alert-warning">{{w.cmdHelpL.w}}{{#each s.commands.PriceCmd}}{{#if @index}}, {{/if}}{{this}}{{/each}}</div>
        </div>
      </div>
    </div>
    -->
  </div>
</div>

<!--SMSwallet FAQ-->
<div class="row">
  <h2>{{w.brand.SMSwallet}} FAQ</h2>
  <div class="panel-group" id="accordion2">
    <!--What is 'SMSwallet'?-->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion2" href="#help-SMSwalletFAQ1">
            {{w.cmdHelpL.faq.question1}} ’{{w.brand.SMSwallet}}’?
          </a>
          </h4>
        </div>
        <div id="help-SMSwalletFAQ1" class="panel-collapse collapse2 in">
          <div class="panel-body">
            <p>’{{w.brand.SMSwallet}}’ {{w.cmdHelpL.faq.answer1.p1}}</p>
          </div>
        </div>
      </div>
      <!--Is there a fee?-->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion2" href="#help-SMSwalletFAQ2">
                {{w.cmdHelpL.faq.question2}}
            </a>
          </h4>
        </div>
        <div id="help-SMSwalletFAQ2" class="panel-collapse collapse2 in">
          <div class="panel-body">
            <strong>{{w.cmdHelpL.faq.answer2.title1}}</strong>
            <p>{{w.cmdHelpL.faq.answer2.p1}}</p>
            <p>{{w.cmdHelpL.faq.answer2.p2}}</p>
            <strong>{{w.cmdHelpL.faq.answer2.title2}}</strong>
            <p>{{w.cmdHelpL.faq.answer2.p3}}</p>
          </div>
        </div>
      </div>
      <!--Negative balance?-->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion2" href="#help-SMSwalletFAQ3">
                {{w.cmdHelpL.faq.question3}}
            </a>
          </h4>
        </div>
        <div id="help-SMSwalletFAQ3" class="panel-collapse collapse2 in">
          <div class="panel-body">
            <p>{{w.cmdHelpL.faq.answer3.p1}}</p>
            <p>{{w.cmdHelpL.faq.answer3.p2}}</p>
          </div>
        </div>
      </div>
      <!--SMSwallet and SMSgateway?-->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion2" href="#help-SMSwalletFAQ4">
                {{w.cmdHelpL.faq.question4}}
            </a>
          </h4>
        </div>
        <div id="help-SMSwalletFAQ4" class="panel-collapse collapse2 in">
          <div class="panel-body">
            <p>{{w.cmdHelpL.faq.answer4.p1}}</p>
            <p>{{{w.cmdHelpL.faq.answer4.p2}}}</p>
          </div>
        </div>
      </div>
      <!--What if I get hacked?-->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion2" href="#help-SMSwalletFAQ5">
                {{w.cmdHelpL.faq.question5}}
            </a>
          </h4>
        </div>
        <div id="help-SMSwalletFAQ5" class="panel-collapse collapse2 in">
          <div class="panel-body">
            <p>{{w.cmdHelpL.faq.answer5.p1}}</p>
            <div class="alert alert-warning">{{w.cmdHelpL.faq.answer5.p2}}</div>
          </div>
        </div>
      </div>
  </div>
</div>