<table class="table table-striped">
  <thead>
    <tr>
      <th>{{w.cmdV.column1}}</th>
      <th>{{w.cmdV.column2}}</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>{{up s.commands.DepositReqCmd.[0]}}</td><td>{{w.cmdV.DepositReqCmd}}</td></tr>
    <tr><td>{{up s.commands.VoiceCmd.[0]}}</td><td>{{w.cmdV.VoiceCmd}}</td></tr>
    <tr><td>{{up s.commands.BalanceCmd.[1]}}</td><td>{{w.cmdV.BalanceCmd}}</td></tr>
    <tr><td>{{up s.commands.WithdrawalReqCmd.[0]}}</td><td>{{w.cmdV.WithdrawalReqCmd}}</td></tr>
    <tr><td>{{up s.commands.TransactionsCmd.[0]}}</td><td>{{w.cmdV.TransactionsCmd}}</td></tr>
    <tr><td>{{up s.commands.HelpCmd.[0]}}</td><td>{{w.cmdV.HelpCmd}}</td></tr>
  </tbody>
</table>