<!--Change this to be only SMSgateway specific-->
<div class="row">
<div class="col-sm-12 wbox">
<h1>{{w.faq.gw.titleH1}}</h1>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#help-SMSgatewayFAQ1">
          {{w.faq.gw.q1WhyGateway}}
        </a>
      </h4>
    </div>
    <div id="help-SMSgatewayFAQ1" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>{{w.faq.gw.a1WhyGateway.p1}}</p>
        <p>{{w.faq.gw.a1WhyGateway.p2}}</p>
      </div>
    </div>
  </div>  

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#help-SMSgatewayFAQ2">
          {{w.faq.gw.q2WorkTogether}}
        </a>
      </h4>
    </div>
    <div id="help-SMSgatewayFAQ2" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>{{w.faq.gw.a2WorkTogether.p1}}</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#help-SMSgatewayFAQ3">
            {{w.faq.gw.q3WhatPhone}}
        </a>
      </h4>
    </div>
    <div id="help-SMSgatewayFAQ3" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>{{w.faq.gw.a3WhatPhone.p1}}</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#help-SMSgatewayFAQ4">
            {{w.faq.gw.q4Profit}}
        </a>
      </h4>
    </div>
    <div id="help-SMSgatewayFAQ4" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>{{w.faq.gw.a4Profit.p1}}</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#help-SMSgatewayFAQ5">
            {{w.faq.gw.q5WhatNow}}
        </a>
      </h4>
    </div>
    <div id="help-SMSgatewayFAQ5" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>{{w.faq.gw.a5WhatNow.p1}}</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#help-SMSgatewayFAQ6">
            {{w.faq.gw.q6HowSecure}}
        </a>
      </h4>
    </div>
    <div id="help-SMSgatewayFAQ6" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>{{w.faq.gw.a6HowSecure.p1}}</p>
        <div class="alert alert-warning">{{w.faq.gw.a6HowSecure.alert-warning1}}</div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
