<!--Change this to be only SMSgateway specific-->
<div class="row">
<div class="col-sm-12 wbox">
<h1>{{w.faqV.title}}</h1>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#help-SMSgatewayFAQ1">
          {{w.faqV.q1}}
        </a>
      </h4>
    </div>
    <div id="help-SMSgatewayFAQ1" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>{{w.faqV.a1.p1}}</p>
        <p>{{w.faqV.a1.p2}}</p>
      </div>
    </div>
  </div>  

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#help-SMSgatewayFAQ2">
          {{w.faqV.q2}}
        </a>
      </h4>
    </div>
    <div id="help-SMSgatewayFAQ2" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>{{w.faqV.a2.p1}}</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#help-SMSgatewayFAQ3">
            {{w.faqV.q3}}
        </a>
      </h4>
    </div>
    <div id="help-SMSgatewayFAQ3" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>{{w.faqV.a3.p1}}</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#help-SMSgatewayFAQ4">
            {{w.faqV.q4}}
        </a>
      </h4>
    </div>
    <div id="help-SMSgatewayFAQ4" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>{{w.faqV.a4.p1}}</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#help-SMSgatewayFAQ5">
            {{w.faqV.q5}}
        </a>
      </h4>
    </div>
    <div id="help-SMSgatewayFAQ5" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>{{w.faqV.a5.p1}}</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#help-SMSgatewayFAQ6">
            {{w.faq.q6}}
        </a>
      </h4>
    </div>
    <div id="help-SMSgatewayFAQ6" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>{{w.faqV.a6.p1}}</p>
        <div class="alert alert-warning">{{w.faqV.a6.alert-warning1}}</div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
