<div class="row">
  <div class="cal-xs-12">
  <hr>
  </div>
  <div class="footer-container">
	  <div class="col-xs-7">
		  <ul class="nav navbar-nav">
			<li><a href="/{{l}}/">{{up w.siteNav.root.products}}</a></li>
			<li><a href="/{{l}}/faq">{{up w.siteNav.root.help}}</a></li>
			<li><a href="/{{l}}/about">{{up w.siteNav.root.about}}</a></li>
			<li><a href="/{{l}}/legal/terms">{{up w.siteNav.root.terms}}</a></li>
			<li><a href="/{{l}}/legal/privacy">{{up w.siteNav.root.privacy}}</a></li>
		  </ul>
	  </div>
	  <div class="col-xs-5" style="text-align:right;">
			<p>{{up w.social.heading}}<br><a href="https://twitter.com/37Coins"><img src="{{resPath}}/images/x_icon_twitter_blue.png"></a> <a href="https://www.facebook.com/37Coins"><img src="{{resPath}}/images/x_icon_facebook_blue.png"></a></p>
			<p>© 37Coins 2014<br><a href="bitcoin:19xeDDxhahx4f32WtBbPwFMWBq28rrYVoh">19xeDDxhahx4f32WtBbPwFMWBq28rrYVoh</a></p>
	  </div>
  </div>
</div>
