<div class="row">
  <div class="cal-xs-12">
  <hr>
  </div>
  <div class="footer-container">
	  <div class="col-xs-7">
		  <ul class="nav navbar-nav">
			<li><a href="/{{l}}/">PRODUCTS</a></li>
			<li><a href="/{{l}}/faq">HELP</a></li>
			<li><a href="/{{l}}/about">ABOUT</a></li>
			<li><a href="/{{l}}/legal/terms">TERMS</a></li>
			<li><a href="/{{l}}/legal/privacy">PRIVACY</a></li>
		  </ul>
	  </div>
	  <div class="col-xs-5" style="text-align:right;">
			<p>FOLLOW US ON<br><a href="https://twitter.com/37Coins"><img src="{{resPath}}/images/x_icon_twitter_blue.png"></a> <a href="https://www.facebook.com/37Coins"><img src="{{resPath}}/images/x_icon_facebook_blue.png"></a></p>
			<p>© 37Coins 2014<br><a href="bitcoin:19xeDDxhahx4f32WtBbPwFMWBq28rrYVoh">19xeDDxhahx4f32WtBbPwFMWBq28rrYVoh</a></p>
	  </div>
  </div>
</div>
