<td class="tdflag" itemprop=serviceLocation><div class="flag {{locale}}" title="{{lName}}"></div></td>
<td itemprop=serviceSmsNumber>{{mobile}}</td>
<td title="{{w.ftr.d1}}" itemprop=price>{{fee}}&nbsp;{{w.ftr.1000000.n.[1]}}</td>