{{#with s.indexLayout}}
<div class="row">
  <div class="col-sm-12">
    <h1><span style="font-family: 'sofia_pro_regular';">SMS</span>wallet</h1>
  </div>
  <div class="col-sm-6">
    <p class="visible-xs">{{mobileTag}}</p>
    <p>{{wallet}}</p>
    <div class="panel panel-default">
      <div class="panel-heading">{{walletInv}}</div>
      <div class="panel-button">
          <a class="btn btn-default" id="smsSignup" href="/{{l}}/signupWallet">{{walletBtn}} &raquo;</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <p>{{commands}} <a href="/{{l}}/help/SMSwallet">{{link}}</a>.</p>
    <div id="smsCommands">
    </div>
  </div>
</div>
<div id="SMSgateway" class="row blue">
  <div class="col-sm-12">
    <h2><span style="font-family: 'sofia_pro_regular';">SMS</span>gateway</h2>
  </div>
  <div class="col-sm-6">
    <p>{{gw1}}</p>
    <p>{{gw2}}<ul>{{#each gwLi}}<li>{{this}}</li>{{/each}}</ul></p>
    <div class="panel panel-default">
      <div class="panel-heading">{{gwInv}}</div>
      <div class="panel-button">
        <a class="btn btn-default" href="/{{l}}/gateways">{{gwBtn}} &raquo;</a>
      </div>
    </div>
  </div>
  <div id="gwTable" class="col-sm-6 intl-tel-input">

  </div>
</div>
{{/with}}