<div class="row">
  <div class="col-sm-12">
    <h1><span style="font-family: 'sofia_pro_regular';">{{w.indexLayout.h1SMS}}</span>{{w.indexLayout.h1Wallet}}</h1>
  </div>
  <div class="col-sm-6">
    <p class="visible-xs">{{w.indexLayout.mobileTag}}</p>
    <p>{{w.indexLayout.wallet}}</p>
    <div class="panel panel-default">
      <div class="panel-heading">{{w.indexLayout.walletInv}}</div>
      <div class="panel-button">
          <a class="btn btn-default" id="smsSignup" href="/{{l}}/signupWallet">{{w.indexLayout.walletBtn}} &raquo;</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <p>{{w.indexLayout.commands}} <a href="/{{l}}/help/SMSwallet">{{w.indexLayout.link}}</a>.</p>
    <div id="smsCommands">
    </div>
  </div>
</div>
<div id="SMSgateway" class="row blue">
  <div class="col-sm-12">
    <h2><span style="font-family: 'sofia_pro_regular';">{{w.brand.sms}}</span>{{w.brand.gateway}}</h2>
  </div>
  <div class="col-sm-6">
    <p>{{w.indexLayout.gw1}}</p>
    <p>{{w.indexLayout.gw2}}<ul>{{#each w.indexLayout.gwLi}}<li>{{this}}</li>{{/each}}</ul></p>
    <div class="panel panel-default">
      <div class="panel-heading">{{w.indexLayout.gwInv}}</div>
      <div class="panel-button">
        <a class="btn btn-default" href="/{{l}}/gateways">{{w.indexLayout.gwBtn}} &raquo;</a>
      </div>
    </div>
  </div>
  <div id="gwTable" class="col-sm-6 intl-tel-input">

  </div>
</div>