<div class="row">
  <div class="col-sm-12">
    <h1><span style="font-family: 'sofia_pro_regular';">SMS</span>wallet</h1>
  </div>
  <div class="col-sm-6">
    <p class="visible-xs">{{s.indexLayout.mobileTag}}</p>
    <p>{{s.indexLayout.wallet}}</p>
    <div class="panel panel-default">
      <div class="panel-heading">{{s.indexLayout.walletInv}}</div>
      <div class="panel-button">
          <a class="btn btn-default" id="smsSignup" href="/{{l}}/signupWallet">{{s.indexLayout.walletBtn}} &raquo;</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <p>{{s.indexLayout.commands}} <a href="/{{l}}/help/SMSwallet">{{s.indexLayout.link}}</a>.</p>
    <div id="smsCommands">
    </div>
  </div>
</div>
<div id="SMSgateway" class="row blue">
  <div class="col-sm-12">
    <h2><span style="font-family: 'sofia_pro_regular';">SMS</span>gateway</h2>
  </div>
  <div class="col-sm-6">
    <p>{{s.indexLayout.gw1}}</p>
    <p>{{s.indexLayout.gw2}}<ul>{{#each s.indexLayout.gwLi}}<li>{{this}}</li>{{/each}}</ul></p>
    <div class="panel panel-default">
      <div class="panel-heading">{{s.indexLayout.gwInv}}</div>
      <div class="panel-button">
        <a class="btn btn-default" href="/{{l}}/gateways">{{s.indexLayout.gwBtn}} &raquo;</a>
      </div>
    </div>
  </div>
  <div id="gwTable" class="col-sm-6 intl-tel-input">

  </div>
</div>