<div class="navbar37-background navbar37-brown"></div>
<div class="stage">
<div class="container">
<div class="jumbotron" style="background: url('{{resPath}}/images/r_bg_coins.jpg') no-repeat center center; background-size: cover;">
  <div class="row">
    <div class="headerImg, col-sm-5">
      <div class='clippedImg' style="background-image: url('{{resPath}}/images/x_hero_phones.png');">
      <div class='phoneGradient visible-xs' style="background-image: url('{{resPath}}/images/x_hero_phone-hero.png');">&nbsp;
      </div></div>
    </div>
    <div class="headerText, col-sm-7">
      <h2 class="hidden-xs">{{{w.indexLayout.header.mobileTag}}}</h2>
      <p class="lead hidden-xs">{{{w.indexLayout.header.tag}}}</p>
      <label class="hidden-xs">{{w.indexLayout.header.walletInv}}</label>
      <div id="mobileInput">
        <!-- TO DO: Add mobile input here? Does the mobileInput ID take care of this? -->
      </div>
    </div>
    <div style="height:400px;" class="visible-md visible-lg"></div>
    <div class="pull-right" style="color: #b3b3a7;"><small>{{w.indexLayout.header.terms.prompt}} <a href="/{{l}}/legal/terms">{{w.indexLayout.header.terms.label}}</a></small></div>
  </div>
</div>
</div>
</div>