<div class="row">
    <div class="col-sm-6">
    	<h2 class="form-signin-heading">{{w.loginView.form-signin-heading}}</h2>
		<form>
			<div class="alert alert-danger alert-dismissable fade">
			  <button type="button" class="close" aria-hidden="true">&times;</button>
                {{{w.loginView.error.badPass}}}
			</div>
			<div class="form-group">
		    	<label for="InputEmail">{{w.loginView.inputEmail.label}}</label>
			    <input type="text" name="email" class="form-control" id="InputEmail" placeholder="{{w.loginView.inputEmail.placeholder}}">
		    </div>
		    <div class="form-group">
                <label for="password">{{w.loginView.inputPassword.label}}</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="{{w.loginView.inputPassword.placeholder}}">
		    </div>
		    <button id="loginBtn" class="btn btn-large btn-primary" type="submit">{{w.loginView.loginBtn}}</button>
		</form>
		<p class="pull-right"><br>{{w.loginView.reset.prompt}}<a href="/{{l}}/reset">{{w.loginView.reset.linkTitle}}</a></p>
    </div>

    <div class="col-sm-6">
    	<div id="registerForm">
	    	<h2 class="form-signin-heading">{{w.loginView.newGwPrompt}}</h2>
			<p>{{w.loginView.gwCallToAction}}</p>
			<a href="/{{l}}/signUp" id="regBtn" class="btn btn-primary">{{w.loginView.signUpLinkLabel}}</a>
			{{{w.loginView.registrationExplanation}}}
		</div>
   	</div>
</div>