<div class="row">
    <div class="col-sm-6">
    	<h2 class="form-signin-heading">{{s.loginView.form-signin-heading}}</h2>
		<form>
			<div class="alert alert-danger alert-dismissable fade">
			  <button type="button" class="close" aria-hidden="true">&times;</button>
                {{{s.loginView.error.badPass}}}
			</div>
			<div class="form-group">
		    	<label for="InputEmail">{{s.loginView.inputEmail.label}}</label>
			    <input type="text" name="email" class="form-control" id="InputEmail" placeholder="{{s.loginView.inputEmail.placeholder}}">
		    </div>
		    <div class="form-group">
                <label for="password">{{s.loginView.inputPassword.label}}</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="{{s.loginView.inputPassword.placeholder}}">
		    </div>
		    <button id="loginBtn" class="btn btn-large btn-primary" type="submit">{{s.loginView.loginBtn}}</button>
		</form>
		<p class="pull-right"><br>{{s.loginView.reset.prompt}}<a href="/{{l}}/reset">{{s.loginView.reset.linkTitle}}</a></p>
    </div>

    <div class="col-sm-6">
    	<div id="registerForm">
	    	<h2 class="form-signin-heading">{{s.loginView.newGwPrompt}}</h2>
			<p>{{s.loginView.gwCallToAction}}</p>
			<a href="/{{l}}/signUp" id="regBtn" class="btn btn-primary">{{s.loginView.signUpLinkLabel}}</a>
			{{{registrationExplanation}}}
		</div>
   	</div>
</div>