<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-success fade in">
          {{{w.merchant.success.alert}}}
        </div>
        <form>
            <div class="form-group">
                <label for="InputName1">{{{w.merchant.success.InputName1.label}}}</label>
                <input type="text" name="displayName" class="form-control" id="InputName1" placeholder="{{{w.merchant.success.InputName1.placeholder}}}">
            </div>
            <button class="btn btn-lg" type="submit">{{w.merchant.success.button}}</button>
            <div class="alert alert-danger alert-dismissable fade">
              <button type="button" class="close" aria-hidden="true">&times;</button>
              {{{w.merchant.success.error.prompt}}} <a href="/{{l}}/contact" class="alert-link">{{w.merchant.success.error.label}}</a>.
            </div>
        </form>
        <div id="instructions">{{w.merchant.success.instructions}}</div>
    </div>
</div>