<div class="navbar-inner">
  <div id="headcont">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{basePath}}/{{l}}/"><span style="font-family: 'sofia_pro_regular';">37</span>coins</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        <li>{{{link (up w.iV.products) id="products" href="/"}}}</li>
        <li>{{{link (up w.iV.help) class="dropdown-toggle" data-toggle="dropdown"}}}
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li>{{{link "SMSwallet" href="/help/SMSwallet"}}}</li>
            <li>{{{link "SMSgateway" href="/help/SMSgateway"}}}</li>
            <li>{{{link w.iV.bf}}}</li>
          </ul>
        </li>
        <li>{{{link (up w.iV.signIn) href="/signinWallet"}}}</li>
        <li>{{{link (up w.iV.signUp) class="highlight-box" href="/signupWallet"}}}</li>
        <li class="hidden-xs"><img src="{{resPath}}/images/x_icon_37coins.png"></li>
      </ul>
    </div>
  </div>
</div>