<div class="row">
    <div class="col-sm-12">
        <h1>{{s.siteNav.notFound.h1}} <span>{{s.siteNav.notFound.face}}</span></h1>
        <p>{{s.siteNav.notFound.sorry}}</p>
        <p>{{s.siteNav.notFound.cause.expln}}</p>
        <ul>
            <li>{{s.siteNav.notFound.cause.link}}</li>
            <li>{{s.siteNav.notFound.cause.addr}}</li>
        </ul>
        <a href="/{{l}}/" class="alert-link">{{s.siteNav.notFound.cause.backToHome}}</a>
    </div>
</div>