<div class="row">
    <div class="col-sm-12">
        <h1>{{w.basic.notf}}&nbsp;&nbsp;<span>{{w.notFoundV.face}}</span></h1>
        <p>{{w.notFoundV.sorry}}</p>
        <p>{{w.notFoundV.expln}}</p>
        <ul>{{#each w.notFoundV.cause}}<li>{{this}}</li>{{/each}}</ul>
        {{{link w.basic.goIndex href="/"}}}
    </div>
</div>