<div class="row legal">
    <div class="col-sm-12">
		<ul class="nav nav-tabs">
		  <li><a href="/{{l}}/legal/terms">{{w.siteNav.terms}}</a></li>
		  <li class="active"><a href="/{{l}}/legal/privacy">{{w.siteNav.privTerms}}</a></li>
		</ul>



		<h1>{{w.privacy.h1}}</h1>
		<h2>{{w.privacy.h2}}</h2>
		<h3>a. How we collect information about you</h3>
		<p>When you visit the 37coins website, use 37coins services, or use third-party services which use the 37coins application programming interface ("API"), we collect information sent to us through your computer, mobile phone, or other access device. This information may include your mobile phone number, IP address, device information including, but not limited to, identifier, device name and type, operating system, location, mobile network information and standard web log information, such as your browser type, traffic to and from our site and the pages you accessed on our website. You must be at least 18 years old, or of the applicable age of majority, in order to use 37coins services and Products. 37coins does not intentionally collect information from or about any individual who is under 13 years old.</p>

		<h3>b. Cookies</h3>
		<p>When you access our website or Products, we or companies we work with may create a small data files called cookies on your computer or other device. These technologies are used to:
		<ul>
		<li>Recognize you as a customer;</li>
		<li>Customize services, content, and advertising;</li>
		<li>Measure promotional effectiveness; and</li>
		<li>Collect information about your computer or other access device to mitigate risk, help prevent fraud and promote trust and safety.</li>
		</ul>

		<p>We use session cookies when you access our website or content. Session cookies expire and no longer have any effect when you log out of your account or close your browser.</p>

		<p>We encode our cookies so that only we can interpret the information stored in them. You are free to decline our cookies if your browser or browser add-on permits, but doing so may interfere with your use of our website. The help section of most browsers or browser add-ons provides instructions on blocking, deleting or disabling cookies.</p>

		<p>You may encounter 37coins’ cookies or pixel tags on websites that we do not control. For example, if you view a web page created by a third party or use an application developed by a third party, there may be a cookie or pixel tag placed by the web page or application. Likewise, these third parties may place cookies or pixel tags that are not subject to our control and the 37coins’ Privacy Policy does not cover their use.</p>


		<h2>Marketing</h2>
		<p>We will not sell or rent your personal information to third parties for their marketing purposes without your explicit consent. We may combine your information with information we collect from other companies and use it to improve and personalize 37coins’ services, content and advertising.</p>

		<h3>Information we share with others</h3>
		<p>We utilize <a href="http://mailchimp.com/legal/">Mailchimp</a> to more effectively communicate with you, our customers via email.
		</p>

		<h3>How your personal information is shared with other 37coins’ users</h3>
		<p>In connection with a bitcoin transfer between you and a third party, including merchants, a third party may share information about you with us, such as your email address or mobile phone number which may be used to inform you that a transfer has been sent to or received from the third party. We may use this information in connection with such transfers to confirm that you are a 37coins customer, that bitcoin transfers are enabled, and/or to notify you that you have received bitcoin. If you request that we validate your status as a 37coins customer with a third party, we will do so. You may also choose to send bitcoin to or request bitcoin from an e-mail address or mobile phone number. In such cases, your user name or mobile phone number will be displayed in an e-mail or SMS/text message notifying the user of the designated e-mail address or mobile phone number of your action. Please note that merchants you interact with may have their own privacy policies, and 37coins is not responsible for their operations, including, but not limited to, their information practices.</p>
		<h3>How you can access or change your personal information</h3>
		<p>If you close your 37coins account, we will mark your account in our database as "Closed," but will keep your account information in our database for a period of time described above. This is necessary in order to deter fraud, by ensuring that persons who try to commit fraud will not be able to avoid detection simply by closing their account and opening a new account. However, if you close your account, your personally identifiable information will not be used by us for any further purposes, nor sold or shared with third parties, except as necessary to prevent fraud and assist law enforcement, as required by law or in accordance with this Privacy Policy.</p>
		<h3>How you can contact us about privacy questions</h3>
		<p>If you have questions or concerns regarding this policy, you should contact us via <a href="mailto:privacypolicy@37coins.com?Subject=Privacy%20Policy">‘privacypolicy@37coins.com’</a> or by writing to us at 37coins, Inc. 440 N Wolfe Rd, Sunnyvale, CA 94085, USA. </p>
	</div>
</div>
