<div class="row">
    <div class="col-sm-12">
    	<h2 class="form-signin-heading">{{w.reset.newPass}}</h2>
        <div class="form-group">
            <label for="password1">{{w.reset.newPass.form.password.label}}Password:</label>
            <input type="password" name="password1" class="form-control" id="password1" placeholder="{{w.reset.newPass.form.password.placeholder}}">
        </div>
        <div class="form-group">
            <label for="password2">{{w.reset.newPass.form.password2.label}}Password:</label>
            <input type="password" name="password2" class="form-control" id="password2" placeholder="{{w.reset.newPass.form.password2.placeholder}}">
        </div>
        <button class="btn btn-lg btn-primary" type="submit">{{w.reset.newPass.form.saveBtn}}</button>

        <div class="alert alert-danger alert-dismissable fade">
          <button type="button" class="close" aria-hidden="true">&times;</button>
          <strong>{{w.reset.newPass.form.error}}</strong> {{w.reset.newPass.unMatched}}
        </div>
    </div>
</div>