<div class="row">
    <div class="col-sm-12">
        <h2 class="form-signin-heading">{{w.reset.resetReqForm.titleH2}}</h2>
    	<form>
	        <div class="form-group">
			    <label for="exampleInputEmail1">{{w.reset.resetReqForm.exampleInputEmail1.label}}</label>
			    <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="{{w.reset.resetReqForm.exampleInputEmail1.placeholder}}">
			    <span class="help-block">{{w.reset.resetReqForm.exampleInputEmail1.help-block}}</span>
			</div>
            <button class="btn btn-lg btn-primary" type="submit">{{w.reset.resetReqForm.exampleInputEmail1.resetBtn}}</button>
        </form>
        <div class="alert alert-danger alert-dismissable fade">
			<button type="button" class="close" aria-hidden="true">&times;</button>
			<strong>{{w.reset.resetReqForm.ohNoez}}</strong> {{w.reset.resetReqForm.notFound}}
		</div>
	</div>
</div>