<div class="row">
    <div class="col-sm-12">
    	<h2 class="form-signin-heading">{{s.loginView.wallet.signUpConf.signUpH2}}</h2>
		<div id="signupSucAlert" class="alert alert-success fade">
		  <strong>{{s.loginView.wallet.signUpConf.success}}</strong> {{s.loginView.wallet.signUpConf.created}} <a href="#gateways" class="alert-link">{{s.loginView.wallet.signUpConf.linkLabel}}</a>{{s.loginView.wallet.signUpConf.linkLabelPunct}}
		</div>
		<div id="signupErrAlert" class="alert alert-danger fade">
		  <strong>{{s.loginView.wallet.signUpConf.sad}}Error!</strong> {{s.loginView.wallet.signUpConf.sadMsg}} <a href="/{{l}}/contact" class="alert-link">{{s.loginView.wallet.signUpConf.support}}</a>.
		</div>
	</div>
</div>