<div class="row">
    <div class="col-sm-12">
        <h1><span style="font-family: 'sofia_pro_regular';">{{w.loginView.signUp.SMS}}</span>{{w.loginView.wallet.signUp.titleH1}}</h1>
		    <label class="hidden-xs">{{w.loginView.wallet.signUp.promptBeta}}</label>
              <div id="mobileInput">

              </div>
        <hr>    
		<p class="pull-right"><br>{{w.loginView.wallet.signUp.gw}}<a href="/{{l}}/gateways">&nbsp;{{w.loginView.wallet.signUp.gwLnk}}</a></p>
    </div>
</div>