<div class="row">
    <div class="col-sm-12">
        <h2 class="form-signin-heading">{{w.loginView.signup.titleH2}}</h2>
        <form>
            <div class="form-group">
                <label for="InputEmail1">{{w.loginView.signup.InputEmail1.label}}</label>
                <input type="email" name="email" class="form-control" id="InputEmail1" placeholder="{{w.loginView.signup.InputEmail1.placeholder}}">
            </div>
            <div class="form-group">
                <label for="password1">{{w.loginView.signup.password1.label}}</label>
                <input type="password" name="password1" class="form-control" id="password1" placeholder="{{w.loginView.signup.password1.placeholder}}">
            </div>
            <div class="form-group">
                <label for="password2">{{w.loginView.signup.password2.label}}</label>
                <input type="password" name="password2" class="form-control" id="password2" placeholder="{{w.loginView.signup.password1.placeholder}}">
            </div>
            <button class="btn btn-lg btn-primary" type="submit">{{w.loginView.signup.signUpBtn}}</button>

            <div class="alert alert-danger alert-dismissable fade">
              <button type="button" class="close" aria-hidden="true">&times;</button>
              <strong>{{w.loginView.signup.sad}}</strong> {{w.loginView.signup.sadLinkPrompt}} <a href="/{{l}}/contact" class="alert-link">{{w.loginView.signup.sadLinkLabel}}</a>.
            </div>
        </form>
    </div>
</div>