<div class="row">
    <div class="col-sm-12">
    	<h2 class="form-signin-heading">{{w.loginV.wallet.signUpConf.signUpH2}}</h2>
		<div id="signupSucAlert" class="alert alert-success fade">
		  <strong>{{w.basic.succ}}</strong>&nbsp;{{w.loginV.wallet.signUpConf.created}} <a href="/gateways" class="alert-link">{{w.loginV.wallet.signUpConf.linkLabel}}</a>{{w.loginV.wallet.signUpConf.linkLabelPunct}}
		</div>
		<div id="signupErrAlert" class="alert alert-danger fade">
		  <strong>{{w.basic.err}}</strong>&nbsp;{{{link w.loginV.wallet.signUpConf.errMsg href="/contact" class="alert-link"}}}
		</div>
	</div>
</div>