<div class="row">
    <div class="col-sm-12">
        <h1><span style="font-family: 'sofia_pro_regular';">{{s.loginView.wallet.login.title1}}</span>{{s.loginView.wallet.login.title2}}</h1>
		    <label class="hidden-xs">{{s.loginView.wallet.login.label}}</label>
              <div id="mobileInput">

              </div>
        <hr>    
		<p class="pull-right"><br>{{s.loginView.wallet.login.gwPrompt}}<a href="/{{l}}/gateways">&nbsp;{{s.loginView.wallet.login.gwLink}}</a></p>
    </div>
</div>