<div class="row">
  <div id="cfmFrm" class="col-md-12">
    <h2>{{form.gwSetup.ver.titleH2}}</h2>
      <form>
          <div class="form-group">
              <label for="inputCode">{{form.gwSetup.ver.inputCode.label}}</label>
              <input type="number" name="code" class="form-control" id="inputCode" placeholder="12345">
              <span class="help-block">{{form.gwSetup.ver.inputCode.help-block}}</span>
          </div>
          <button class="btn btn-lg btn-primary" type="submit">{{form.gwSetup.ver.inputCode.confirmBtn}}</button>
      </form>
      <div class="alert alert-danger alert-dismissable fade">
          <button type="button" class="close" aria-hidden="true">&times;</button>
          <strong>{{s.inputCode.sad}}</strong> {{s.inputCode.sadExpln}}
      </div>
  </div>
</div>
