<div class="row">
<div id="valFrm" class="col-md-12">
  <h2>{{s.form.gwSetup.ver.titleH2}}</h2>
  <form>
      <div class="form-group">
          <label for="inputTel">{{s.form.gwSetup.ver.inputTel}}</label>
          <input type="tel" name="tel" class="form-control" id="inputTel" placeholder="{{s.form.gwSetup.ver.inputTel.placeholder}}">
          <span class="help-block">{{s.form.gwSetup.ver.inputTel.help-block}}</span>
      </div>
      <button class="btn btn-lg btn-primary" type="submit">{{s.form.gwSetup.ver.inputTel.verBtn}}</button>
  </form>
  <div class="alert alert-danger alert-dismissable fade">
    <button type="button" class="close" aria-hidden="true">&times;</button>
    <strong>{{s.form.gwSetup.ver.inputTel.sad}}Error!</strong> {{s.form.gwSetup.ver.inputTel.sadExpln}}
  </div>
</div>
</div>